<div *ngIf="fundraiser">
    <h1>{{fundraiser.CAPTION}}</h1>
    <p>Organized by: <span>{{fundraiser.ORGANIZER}}</span></p>
    <p>City: <span>{{fundraiser.CITY}}</span></p>
    <p>Target Funding: <span>{{fundraiser.TARGET_FUNDING}}</span></p>
    <p>Current Funding: <span>{{fundraiser.CURRENT_FUNDING}}</span></p>
    <h2>Donations</h2>
    <ul>
      <li *ngFor="let donation of fundraiser.donations">
        {{donation.GIVER}} donated {{donation.AMOUNT}} on {{donation.DATE}}
      </li>
    </ul>
    <a [routerLink]="['/donation', fundraiser.FUNDRAISER_ID]">Donate</a>
  </div>
  