<div ng-include="'views/nav.html'"></div>
<h1>{{ message }}</h1>
<p>{{ inspiringStories }}</p>
<p>{{ contactInfo }}</p>

<h2>Active Fundraisers</h2>
<div ng-repeat="fundraiser in fundraisers">
  <h3>{{ fundraiser.caption }}</h3>
  <p>Organizer: {{ fundraiser.organizer }}</p>
  <p>City: {{ fundraiser.city }}</p>
  <p>Target Funding: {{ fundraiser.target_funding }}</p>
  <p>Current Funding: {{ fundraiser.current_funding }}</p>
  <p>Category: {{ fundraiser.CATEGORY_NAME }}</p>
  <a href="#/fundraiser/{{ fundraiser.FUNDRAISER_ID }}">View Details</a>
</div>
